
.especialidades img{
    @include imag(75rem,75rem) ;      
    display: block;
    margin: auto;
}
.imgServicios ul li{
    @include imag(2rem,2rem) ;      
}
.box{
    @include box;
    margin: 2rem;
    height: 60rem;
       
    img{
        @include imag(10rem,20rem) ;
        
        margin: ($separacion - 9rem) ;
        
    }
}
.text{    
    font-size: 3rem;    
    margin: 7rem;
    padding: 8rem;
}

.box uno{       
    float: right;
}
.box cuatro{
    float: left;
}
.columna1 {
    color: rgb(18, 185, 157);    
    margin: 3rem;
    float: left;
    font-size: 2rem;
}
.columna2 {
    display: flex;
    flex-direction: row-reverse;
    color: rgb(18, 185, 157);
    margin: 2rem;
    width: ($separacion * 5);
    font-size: 2rem;   
}
